Package: unifi-hysteria
Version: 2.8.1-1+build6
Section: net
Priority: optional
Architecture: arm64
Depends: systemd
Maintainer: Ian Sun <me@sunyun.name>
Description: Hysteria for UniFi OS
 A powerful, lightning fast and censorship resistant network proxy.
Homepage: https://hysteria.network/
